@media (max-width: 425px){

    .header-desktop{
        display: none;
    }

    .main-desktop{
        display:none;
    }

    .footer-desktop{
        display: none;
    }

    .header-mobile{
        display: block;
        position: absolute;
        width: 100%;
        height: 251px;
        background-image: url("/img/mobile/garrett-parker-DlkF4-dbCOU-unsplash 2.png");
        background-size: cover;
    }

    .main-mobile{
        display:block;
    }


    .gradient{
        position: absolute;
        width: 100%;
        height: 251px;
        left: 0px;
        top: 0px;
        background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%);
        
    }

    .gradient>section>img:first-child{
        position: absolute;
        left: 4.1%;
        top: 43px;
    }

    .gradient>section>img:nth-child(2){
        position: absolute;
        right: 4.1%;
        top: 43px;
        z-index: 2;
    }

    /* .gradient>section>img:nth-child(2):hover ~ .burger-menu{
        display: block;
    } */

    /* .gradient>section>img:nth-child(2):active ~ .burger-menu{
        display: none;
    } */

    #burger{
        position: relative;
        width: 165px;
        height: 250px;
        background: #F2785C;
        box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
        border-radius: 10px;
        left: 53%;
        top: 41px;
        z-index: 1;
        display: none;
    }

    #burger>ul{
        position: absolute;
        width: 106px;
        height: 176px;
        left: 44px;
        top: 44px;
    }

    #burger>ul>ol{
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        text-align: right;
        padding-bottom: 10px;
        cursor: pointer;
    }

    #burger>ul>ol:active{
        text-decoration: underline;
    }

    .search-mobile{
        position: absolute;
        width: 360px;
        height: 48px;
        left: 15px;
        top: 142px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 16px;
        border: none;
    }

    .search-mobile::placeholder{
        position: relative;
        border: none;
        font-family: 'Aleo';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F2785C;
        left: 16.55px;
        border: none;
    }

    .search-mobile:focus{
        border: none;
        font-family: 'Aleo';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F2785C;
        left: 20px;
    }


    .start-planning-mobile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: absolute;
        width: 92px;
        height: 30px;
        left: 274px;
        top: 151px;
        background: #0D606F;
        box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
        border-radius: 10px;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 15px;
        /* identical to box height */
        display: flex;
        align-items: center;
        color: #FFFFFF;
        flex: none;
        border: none;
        cursor: pointer;
    }

    .steps-mobile{
        position: absolute;
        width: 360px;
        height: 153px;
        left: 15px;
        top: 271px;
    }

    .steps-mobile>p{
        width: 214px;
        height: 19px;
        margin-left: 73px;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        /* identical to box height */
        color: #F2785C;
    }

    .step-pics{
        position: relative;
        display: flex;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        gap: 8.4%;
        flex-direction: row;
        margin-left: 6%;
    }

    .step-pics>div>p{
        margin-top: 20px;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #0D606F;
        width: 100px;
    }

    .find-more-mobile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 32px;
        gap: 6px;
        position: absolute;
        width: 92px;
        height: 30px;
        left: 149px;
        top: 703px;
        background: #0D606F;
        box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
        border-radius: 10px;
        border: none;
    }

    .find-more-mobile>p{
        width: 52px;
        height: 15px;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 15px;
        /* identical to box height */
        display: flex;
        align-items: center;
        text-align: right;
        color: #FFFFFF;
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .popular-destinations-mobile{
        position: absolute;
        width: 176px;
        height: 19px;
        left: 107px;
        top: 444px;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        /* identical to box height */
        color: #F2785C;
    }


    .slides{
        position: relative;
        width: 360px;
        height: 210px;
        left: 5%;
        top: 483px;

    }

    .slide-items{
        z-index: 1;
        display: none;
    }

    .slide-items>img{
        border-radius: 16px;
    }

    .slide-items>p{
        position: absolute;
        width: 60px;
        height: 26px;
        left: 15px;
        top: 8px;
        z-index: 1;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF;
    }

    .active-slide{
        display: block;
    }

    .mobile-arrow{
        position: absolute;
        opacity: 0.5;
    }

    #left-button{
        left: 20px;
        top: 573px;
        transform: rotate(180deg);
    }

    #right-button{
        right: 10%;
        top: 573px;
        opacity: 0.5;
    }

    

    .dots-block-mobile{
        position: absolute;
        left: 45.12%;
        top: 673px;
    }

    .dots-item{
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 6px;
        background-color: rgba(242, 120, 92, 0.5);
    }

    .active{
        background-color: #F2785C;
    }

    .travel-stories-mobile{
        position: absolute;
        top: 753px;

    }

    .travel-stories-mobile>p{
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        /* identical to box height */
        color: #F2785C;
        text-align: center;
        margin-bottom: 10px;
    }

    .stories-block-mobile{
        width: 100%;
        height: 693px;
        background-image: url("/img/mobile/Rectangle 28.png");
        background-size: cover;
    }

    .work-area-mobile{
        width: 100%;
        height: 628px;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .thailand-mobile{
        position: relative;
        width: 92.31%;
        height: 130px;
        left: 3.85%;
        top: 10px;
    }

    .thailand-mobile>h2{
        position: absolute;
        width: 92.31%;
        height: 13px;
        left: 47.2%;
        top: 5px;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        color: #0D606F;
    }

    .thailand-mobile>p{
        position: absolute;
        width: 53.16%;
        height: 102px;
        left: 47.2%;
        top: 28px;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
    }

    .utah-mobile{
        position: relative;
        width: 92.31%;
        height: 130px;
        left: 3.85%;
        top: 30px;
    }

    .utah-mobile>h2{
        position: absolute;
        width: 92.31%;
        height: 13px;
        left: 47.2%;
        top: 5px;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        color: #0D606F;
    }

    .utah-mobile>p{
        position: absolute;
        width: 53.16%;
        height: 102px;
        left: 47.2%;
        top: 28px;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
    }

    .mountains-mobile{
        position: relative;
        width: 360px;
        height: 130px;
        left: 15px;
        top: 45px;
    }

    .mountains-mobile>h2{
        position: absolute;
        width: 92.31%;
        height: 13px;
        left: 47.2%;
        top: 5px;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        color: #0D606F;
    }

    .mountains-mobile>p{
        position: absolute;
        width: 53.16%;
        height: 102px;
        left: 47.2%;
        top: 28px;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
    }

    .longest-journy-mobile{
        position: relative;
        width: 360px;
        height: 130px;
        left: 15px;
        top: 62px;
    }

    .longest-journy-mobile>h2{
        position: absolute;
        width: 92.31%;
        height: 13px;
        left: 47.2%;
        top: 5px;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        color: #0D606F;
    }

    .longest-journy-mobile>p{
        position: absolute;
        width: 53.16%;
        height: 102px;
        left: 47.2%;
        top: 28px;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
    }

    .footer-mobile{
        display: flex;
        justify-content: center;
        gap: 5.13%;
        margin-top: 15px;
    }

}